*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.a{

 margin: 20px;
}
.box{
    border: 10px solid #071f69;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 3px;
    border-left-color: transparent;
    border-top-color: transparent;
/* border-right: transparent ; */
    /* animation: a 9s cubic-bezier(0.35,-0.14,0.79,1.22) infinite;  */
}

.box:hover{
    animation: a 9s cubic-bezier(0.35,-0.14,0.79,1.22) infinite; 
}
@keyframes a{
    20%{
        transform: rotate(-180deg);
    }
    40%{
        transform: rotate(40deg);
    }
    60%{
        transform: rotate(200deg);
    }
    80%{
        transform: rotate(300deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}